$text-color: #737373;
$name-color: #ff0000;
$name-color2: #455880;
//
* {
  box-sizing: border-box;
}
.Muhammad-cards {
  width: 1179px;
  margin: 0 auto;
  & h1 {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  & hr {
    width: 884px;
  }
  // Cards

  & .flex{
      display: flex;
      gap: 28px;
  }
  .card-1 {
    width: 372.89px;
    height: 467px;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    // pdding
    padding: 20px 35px;
    // CARD-TEXT
    & .card-text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
      color: #737373;
    }
    // CARD-IMG
    & .card-img {
      display: flex;
      justify-content: center;
    }
    // CARD-NAME
    .card-name {
      & h2 {
        text-align: center;
        color: $name-color;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 125%;
      }
      & span {
        display: block;
        text-align: center;
        color: $name-color2;
        font-weight: 700;
        font-size: 18px;
        line-height: 180%;
      }
    }
  }
  .card-2{
    width: 372.89px;
    height: 467px;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    // pdding
    padding: 20px 35px;
    // CARD-TEXT
    & .card-text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
      color: #737373;
    }
    // CARD-IMG
    & .card-img {
      display: flex;
      justify-content: center;
    }
    // CARD-NAME
    .card-name {
      & h2 {
        text-align: center;
        color: $name-color;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 125%;
      }
      & span {
        display: block;
        text-align: center;
        color: $name-color2;
        font-weight: 700;
        font-size: 18px;
        line-height: 180%;
      }
    }
  }
  .card-3{
    width: 372.89px;
    height: 467px;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    // pdding
    padding: 20px 35px;
    // CARD-TEXT
    & .card-text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
      color: #737373;
    }
    // CARD-IMG
    & .card-img {
      display: flex;
      justify-content: center;
    }
    // CARD-NAME
    .card-name {
      & h2 {
        text-align: center;
        color: $name-color;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 125%;
      }
      & span {
        display: block;
        text-align: center;
        color: $name-color2;
        font-weight: 700;
        font-size: 18px;
        line-height: 180%;
      }
    }
  }

}
